
body {
  background-color: #ffadd6;
  font-family: 'Luckiest Guy', cursive;
}

H1 {
  font-size: 80px;
}

.container {
  margin: 30px;
  height: 850px;
  border-radius: 30px;background-image: url("../images/farm.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#header-styles {
  text-align: center;
}

#col-8-styles {
  height: 600px;
  border-radius: 30px;
}

.col-2-styles {
  text-align: center;
  margin-top: 40px;
}

.col-2-styles h2 {
  text-decoration: underline;
  font-size: 60px;
}

.player-row-styles {
  margin-bottom: 10px;
}

.pig-btn {
  background: transparent;
  background-image: url("../images/pig1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  border: none;
  padding: 20px;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#pig-2-btn {
  float: right;
}

.playerOneInputs {

}

#center-row-styles {
  margin-top: 250px;
}
